<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<a href="/logout">Logout</a>
	<br/>
	<form action="" method="POST" name="blog">
		<table>		
			<tr><td>Name</td><td><input type="text" name="name"></td></tr>			
			<tr><td>Message</td><td><input type="text" name="message"></td></tr>
			<tr><td></td><td><input type="submit" value="Submit"></td></tr>
		</table>
	</form>
	{% if name and message %}
		<div>
			<b>Name: </b> {{name}}<br>
			<b>Message: </b> {{message}}<br>
		</div>
	{% endif %}
{% endblock %}
